{% extends "shared/baselayout.html" %}
{% load static from staticfiles %}
{% block css%}
    <style>
        .card-block span{
            width:auto;
        }
        .card-block{
            overflow:auto;
        }
    </style>
{% endblock css %}
{% block js %}
<script type="text/javascript">
  function activateTab(){
      var serviceacc = $("#service-accordion");
      serviceacc.on('hidden.bs.collapse',function($event){
          $($event.target).prev('.card-header').find('span').text('+');
      });
      serviceacc.on('show.bs.collapse',function($event){
          $($event.target).prev('.card-header').find('span').text('-');
      });
      var hash = window.location.hash;
      var div;
      if(hash){
          div = $("[data-hash='"+hash.substr(1)+"']",serviceacc)
      }
      else{
          div = $('.card',serviceacc).eq(0)
      }
      div.find('.acc-link').trigger('click');
      if(hash){
        setTimeout(function(){
      $('html, body').animate({
                scrollTop: $(div).offset().top-50
            }, 500);
        },400)
      }
  } 
    activateTab()
    $(document).ready(function() {
//        $(".btn").click(function() {
//            $("#myModal").modal('show');
//            $("#Modalbuy").modal('show');
//            $("#Modalsell").modal('show');
//            $("#Modalpart").modal('show');
//            $("#Modalservice").modal('show');
//        });
    });
    $(window).on('hashchange', function() {
        activateTab();
    });
</script>
{% endblock js %}
{% block body %}
<div class="container-fluid Breadcrum">
    <div class="container">
        <div class="row">
            <h1 class="col-sm-5 col-ld-5 col-xs-12">Services
                <span class="caret_down"></span>
            </h1>
            <ul class="col-sm-5 col-ld-5 col-xs-12">
                <li>
                    <a href="{% url 'index' %}">Home  </a>
                </li>/ Services</ul>
        </div>
    </div>
</div>
<!-- Breadcrum ends-->
<div class="container-fluid greybg">
    <div class="container white">
        <div class="row">
            <div class="col-sm-12 col-ld-12 col-xs-12 productImage">
                <h2>Services Offered by
                    <strong>PHANTOM Healthcare</strong>
                    <span class="grbdr" style="width:15%;"></span>
                </h2>
                <div id="service-accordion" role="tablist" aria-multiselectable="true">
                    {% for service in services.results %}
                    <div class="card" data-hash="{{service.slug}}">
                        <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                            <h5 class="mb-0">
                                <a class="acc-link" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}"
                                aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
  {{service.name}}<span>+</span>
</a>
                            </h5>
                        </div>
                        <div id="collapse{{forloop.counter}}" class="collapse" role="tabpanel" aria-labelledby="heading{{forloop.counter}}">
                            <div class="card-block">{{service.description|safe}}</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class=" container white">
            <h2>Other
                <strong>Facilities</strong>
                <span class="grbdr" style="width:8%;"></span>
            </h2>
            <ul class="row">
                <li class=" buisness">
                    <a href="#Modalbuy" class="whitebox grbox" data-toggle="modal"><span class="buy"></span><h4>BUY</h4><p>{{header.texts.buycard_text|striptags}}</p></a>
                </li>
                <li class="buisness">
                    <a href="#Modalsell" class="whitebox grbox" data-toggle="modal"><span class="sell"></span><h4>SELL</h4><p>{{header.texts.sellcard_text|striptags}}</p></a>
                </li>
                <li class=" buisness">
                    <a href="#Modalpart" class="whitebox grbox" data-toggle="modal"><span class="part"></span><h4>PARTS</h4><p>{{header.texts.partscard_text|striptags}}</p></a>
                </li>
                <li class="buisness">
                    <a href="#Modalservice" class="whitebox grbox" data-toggle="modal"><span class="services"></span><h4>SERVICES</h4><p>{{header.texts.servicecard_text|striptags}}</p></a>
                </li>
            </ul>
    </div>
    {% comment %}
    <!--<div class="container white client">
        <div class="row">
            <div class=" col-sm-12 col-xs-12">
                <h2 style="width:250px;">Our
                    <strong>Clients</strong>
                    <span class="grbdr"></span>
                </h2>
                <ul class="clients">
                    <li class="col-sm-2">
                        <img src="{% static 'images/img1.png' %}" alt="">
                    </li>
                    <li class="col-sm-2">
                        <img src="{% static 'images/img1.png' %}" alt="">
                    </li>
                    <li class="col-sm-2">
                        <img src="{% static 'images/img1.png' %}" alt="">
                    </li>
                    <li class="col-sm-2">
                        <img src="{% static 'images/img1.png' %}" alt="">
                    </li>
                    <li class="col-sm-2">
                        <img src="{% static 'images/img1.png' %}" alt="">
                    </li>
                    <li class="col-sm-2">
                        <img src="{% static 'images/img1.png' %}" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
    {% endcomment %}
    <!-- Client section End -->
</div>
<div class="clear"></div>
<!-- Modal -->
{% include "shared/modals/mymodal.html"%}
{% include "shared/modals/buymodal.html"%}
{% include "shared/modals/sellmodal.html"%}
{% include "shared/modals/partsmodal.html"%}
{% include "shared/modals/servicemodal.html"%}
{% endblock body %}

